BST/cmake-build-debug/.cmake
.idea/*
BST/src/cmake-build-debug/*
BST/test/cmake-build-debug
BST/test/CMakeCache.txt
BST/test/CMakeFiles
BST/test/Makefile
BST/test/test_app
BST/test/CTestTestfile.cmake
BST/cmake-build-debug/*
BST/.idea/*
BST/test/cmake_install.cmake
*.json
*.log
BST/test/.cmake/api/v1/query/cache-v2
BST/test/.cmake/api/v1/query/cmakeFiles-v1
BST/test/.cmake/api/v1/query/codemodel-v2
BST/test/.cmake/api/v1/query/toolchains-v1
BST/test/cmake_install.cmake
BST/test/CMakeLists.txt
*.cmake
